/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #343f41;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #ac6c6c;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid transparent;
  /* creates padding around scroll thumb */
}
