<app-ui-page [defaultBreadcrumb]="defaultBreadcrumb">
    <ng-container pageName>{{ 'Vacancy Dashboard' | translate }}</ng-container>
    <ng-container pageContent>
        <div class="vacancies-list">
            <app-collapse-item-list [title]="'My position'" [itemsList]="vacancy_list"
                (goToItem)="onGoToItem($event)" [moreOptions]="vacanciesOptions"></app-collapse-item-list>
        </div>
        <div class="d-flex colDir justify-content-between dashboard-two-lists">
            <div class="candidates-list">
                <app-collapse-item-list [title]="'My candidates'" [itemsList]="vacancy_list"
                    (goToItem)="onGoToItem($event)"></app-collapse-item-list>
            </div>
            <div class="conversation-list">
                <app-collapse-item-list [title]="'My conversation'" [itemsList]="vacancy_list"
                    (goToItem)="onGoToItem($event)"></app-collapse-item-list>
            </div>
        </div>
    </ng-container>

</app-ui-page>