@import "../../../../../assets/style/ui";

.action {
  @include size(35px, 100%);

  button {
    outline: unset;
    background-color: white;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
    border: 3px solid white;
    mat-icon {
      color: #17a2b8;
    }

    &:focus {
      border: 3px solid gray;
    }

    &:hover {
      mat-icon {
        color: #17a2b8;
      }
    }
  }
}

.options-container {
  left: -145px;
  top: 115%;
  @include size(200px, fit-content);
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.27);
  z-index: 1;
  // overflow: hidden;
  &::before {
    @include size(15px, 15px);
    transform: rotate(45deg);
    border-radius: 1px;
    position: absolute;
    content: "";
    top: -1%;
    right: 15%;
    background-color: white;
    z-index: -1;
  }
  .option-block {
    white-space: nowrap;
    @include size(100%, fit-content);
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
    // &:hover {
    //   background-color: rgba(209, 209, 209, 0.479);
    // }
  }
}

:host {
  ::ng-deep {
    .mdc-label {
      margin-bottom: 0 !important;
    }
  }
}
