<div class="card" (click)="onGoToItem($event)">
  <div
    class="common-info d-flex align-items-center justify-content-between pb-2"
  >
    <div class="info w-80">
      <h3 class="w-100">{{ candidate.name }}</h3>
      <div class="d-flex w-100 mt-5 font-size-14">
        <div class="d-flex" *ngIf="candidate.rank">
          <span class="gray">RANK:&nbsp;</span>
          <p>1/86</p>
        </div>
        <div class="d-flex" *ngIf="candidate.status">
          <span class="gray">Status:&nbsp;</span>
          <p>Passed</p>
        </div>
        <div class="d-flex">
          <span class="gray">SCORE:&nbsp;</span>
          <p>{{ candidate.totalScore || "No score" }}</p>
        </div>
      </div>
    </div>

    <app-more-options
      *ngIf="moreOptions && moreOptions.length"
      [optionsList]="moreOptions"
      (onTriggerAction)="onGoToAction($event)"
    ></app-more-options>
  </div>
  <div class="skill-scores pb-3 mt-5">
    <h3>Skills score</h3>
    <ng-container *ngIf="getScores?.length; else noScores">
      <app-ui-progress
        *ngFor="let score of getScores"
        [totalValue]="100"
        [progressValue]="score.value"
      ></app-ui-progress>
    </ng-container>

    <ng-template #noScores>
      <div
        class="mt-10 w-100 h-90 d-flex align-items-center justify-content-center"
      >
        <p class="font-size-18 font-w-bold">Candidate has no scores for now</p>
      </div>
    </ng-template>
  </div>
  <div class="history-action mt-5">
    <p class="history-action--title">Stage:</p>
    <div class="history-action--last-action">
      <strong>{{ getStageTitle }}</strong>
    </div>
  </div>
</div>
