$rangeOfNumber: ();
$cursors: ("pointer");
$fontWeights: ("normal", "bold", "light");
$colors: (
  "orange": #fdb75a,
  "gray": gray,
  "white": white,
  "whitegray": #d6d3d3,
  "lightmain": #344c51,
  "green": green,
);

@for $i from -100 through 200 {
  $rangeOfNumber: append($rangeOfNumber, $i);
}

@each $width in $rangeOfNumber {
  .w-#{$width} {
    width: #{$width}+ "%" !important;
  }
}

@each $height in $rangeOfNumber {
  .h-#{$height} {
    height: #{$height}+ "%" !important;
  }
}

@each $bottom in $rangeOfNumber {
  .bottom-#{$bottom} {
    bottom: #{$bottom}px !important;
  }
}

@each $top in $rangeOfNumber {
  .top-#{$top} {
    top: #{$top}px !important;
  }
}

@each $right in $rangeOfNumber {
  .right-#{$right} {
    right: #{$right}px !important;
  }
}

@each $left in $rangeOfNumber {
  .left-#{$left} {
    left: #{$left}px !important;
  }
}

@each $margin in $rangeOfNumber {
  .mt-#{$margin} {
    margin-top: #{$margin}px !important;
  }
}

@each $margin in $rangeOfNumber {
  .mb-#{$margin} {
    margin-bottom: #{$margin}px !important;
  }
}

@each $fontSize in $rangeOfNumber {
  .font-size-#{$fontSize} {
    font-size: #{$fontSize}px !important;
  }
}

@each $fontWeight in $fontWeights {
  .font-w-#{$fontWeight} {
    font-weight: #{$fontWeight} !important;
  }
}

@each $cursor in $cursors {
  .cursor-#{$cursor} {
    cursor: pointer;
  }
}

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }
}

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
}

@each $radius in $rangeOfNumber {
  .border-radius-#{$radius} {
    border-radius: #{$radius}px !important;
  }
}
