@import "../../../../../assets/style/ui";
:host {
  @include size(100%, 100%);
  background-color: #344c51;
  display: block;
  .header {
    @include size(100%, 50px);
    margin-bottom: 20px;
    background-color: #fdb75a;
  }

  .url-container {
    @include size(100%, 100px);
    padding: 20px;
    .url-block {
      @include size(60%, 85%);
      border: 2px solid gray;
      border-radius: 5px;

      p {
        @include size(100%, 100%);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 28px;
        padding: 10px;
      }
    }

    button {
      @include size(50px, 85%);
      border: 2px solid;
      background-color: transparent;
      padding: 10px;
      border-radius: 5px;
      line-height: 40px;
      border-color: white;
      transition: all 0.3s ease-in-out;

      mat-icon {
        color: white;
        transition: all 0.3s ease-in-out;
      }

      &:focus {
        outline: unset;
        border-color: green;

        mat-icon {
          color: green;
        }
      }
    }
  }
}

::ng-deep {
  .mdc-dialog__surface {
    padding: 0 !important;
  }
}
