<div
  class="action position-relative d-flex align-items-center justify-content-center ml-2"
  (click)="isOptions = true"
  (clickOutside)="isOptions = false"
  fadeAniimation
  [animationProperty]="animationProperty"
  [isOpenOption]="isOptions"
  [delay]="isOptions ? 0 : 500"
>
  <button
    class="d-flex align-items-center justify-content-center p-1 cursor-pointer"
  >
    <mat-icon> filter_alt </mat-icon>
  </button>

  <div
    class="options-container position-absolute colDir"
    [@enterLeaveTrigger]="isOptions ? 'open' : 'closed'"
    [ngClass]="{ fade: isOptions }"
  >
    <div
      class="option-block d-flex align-items-center justify-content-start font-size-15 font-w-bold cursor-pointer"
      *ngFor="let filter of filtersList"
    >
      <app-ui-accordion
        [options]="filter.options"
        [optionsType]="filter.type"
        [name]="filter.name"
      ></app-ui-accordion>
    </div>
  </div>
</div>
