@import "../../../../assets/style/mixins";
@import "../../../../assets/style/ui";

.signIn-form {
  @include size(100%, 100%);
  @include flex-box(column, nowrap, space-between, center);

  .form-container {
    width: calc(100% - 40px);
    @include flex-box(column, unset, center, center);
    padding: 0% 20px;
  }

  .form-block {
    @include size(100%, 95px);
    @include flex-box(column, unset, flex-start, center);
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }

    label {
      align-self: flex-start;
      color: #e0e0e0;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    input {
      @include size(100%, 45px);
      border-radius: 10px;
      border: unset;
      padding-left: 10px;
      font-size: 16px;
      background-color: transparent;
      color: white;
      outline: 2px solid white;
      margin-bottom: 5px;
    }
  }

  .signIn-button {
    @include size(40%, 50px);
    border-radius: 10px;
    border: unset;
    background: #2350f5;
    color: #e0e0e0;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .forget-password {
    padding: 0px 20px;
    width: calc(100% - 40px);
    text-align: end;
    color: #2350f5;
    cursor: pointer;

    &:hover {
      color: #e0e0e0;
    }
  }

  .cross-line-block {
    @include size(100%, 1px);
    @include flex-box(initial, initial, center, center);
    background-color: #e0e0e0;

    .cross-line-title {
      border: 1px solid gray;
      background-color: gray;
      @include size(40px, 40px);
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
      color: #e0e0e0;
    }
  }

  .another-login-block {
    @include size(80%, 80px);
    @include flex-box(initial, initial, space-around, center);

    .another-login-button {
      @include size(40%, 50px);
      @include flex-box(initial, initial, flex-start, center);
      border: unset;
      border-radius: 10px;
      background-color: aliceblue;
      border: 1px solid red;
      color: red;
      font-size: 18px;

      img {
        @include size(45%, 75%);
      }
    }
  }
}
