@import "./mixins";
@import "./variables";
@import "./elements/stepper";
@import "./elements/input-block";

.component-background {
  @include size(100%, 100vh);
  @include flex-box(row, wrap, center, center);
  background-color: $backgroundColor;
  position: relative;
  overflow: hidden;
}

.hide-password-button {
  position: absolute;
  right: 20px;
  z-index: 3;
}

.login-block {
  background-color: #302d2d;
  border-radius: 25px;
  z-index: 3;
  @include size(500px, 720px);
  @include flex-box(column, nowrap, center, center);
  padding: 10px;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60% !important;
}

.colDir {
  flex-direction: column;
}

.sidebar-menu {
  @include size(300px, 100%);
}

h3 {
  margin: 0;
  font-weight: bolder;
  font-size: 20px;
}
