@import "./mixins";
@import "./variables";
@import "./elements/stepper";

.component-background {
  @include size(100%, 100vh);
  @include flex-box(row, wrap, center, center);
  background-color: $backgroundColor;
  position: relative;
  overflow: hidden;
}

.default-input-error-message {
  color: #d90000;
  font-size: 12px;
  line-height: initial;
  display: block;
}


.btn-blue {
  border: 1px solid #2350f5;
  &:hover {
    background-color: #2350f5;
    color: white;
  }
}

.btn-grey {
  border: 1px solid #706262;
  &:hover {
    background-color: #706262;
    color: white;
  }
}

.hide-password-button {
  position: absolute;
  right: 20px;
  z-index: 3;
}