@import "../../../../../assets/style/ui";

.wrap-input {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.27);

  &.icon {
    input {
      padding-left: 45px;
      padding-right: 30px;
    }
  }
  .icon-x,
  .icon-search {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
  }
  .icon-search {
    left: 14px;
  }
  .icon-x {
    right: 2%;
  }
}
input {
  width: 100%;
  padding: 5px 15px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #ddd;
  outline: 0;
  color: black;

  &:focus {
    border-color: blue;
  }
}
