@import "../../../../../../assets/style/ui";

.tab-container {
  @include size(100%, 100%);
  padding: 20px;
  transition: all ease-in-out 0.3s;

  .hiring-team-body {
    @include size(100%, calc(100vh - 320px));
    overflow-y: auto;
    .card {
      background-color: transparent;
      @include size(30%, 350px);
      margin-bottom: 10px;
      border-radius: 5px;
      transition: position 0.3s 1s ease-in-out;

      margin-right: 20px;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.27);
      cursor: pointer;
      border: 7px dashed white;
      transition: all ease-in-out 0.3s;
      &:hover {
        background-color: gray;
      }
    }
  }
}
