@import "../mixins";
@import "../variables";

.default-button {
  @include size(40%, 40px);
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white !important;
  transition: all 0.25s;
  line-height: 40px;
  margin-top: 20px;
  font-size: 16px;
  word-spacing: 1px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.button-hover {
  &:hover {
    background-color: white !important;
    color: initial;
  }
}

.btn-blue {
  border: 1px solid #2350f5 !important;

  &:hover {
    background-color: #2350f5 !important;
    color: white !important;
  }
}

.btn-default-blue {
  border: 1px solid #2350f5 !important;
  background-color: #2350f5 !important;

  &:hover {
    background-color: transparent !important;
    color: #2350f5 !important;
  }
}

.btn-grey {
  border: 1px solid #706262 !important;

  &:hover {
    background-color: #706262 !important;
    color: white !important;
  }
}

.btn-green {
  border: 1px solid green !important;

  &:hover {
    background-color: green !important;
    color: white !important;
  }
}

.btn-default-green {
  border: 1px solid green !important;
  background-color: green !important;
  color: white !important;

  &:hover {
    background-color: transparent !important;
    color: white !important;
  }
}

.btn-red {
  border: 1px solid red !important;
  color: white !important;

  &:hover {
    background-color: red !important;
    color: white !important;
  }
}
.btn-default-red {
  border: 1px solid red !important;
  background-color: red !important;
  color: white !important;

  &:hover {
    background-color: transparent !important;
    color: white !important;
  }
}
