@import "../mixins";
@import "../variables";

.default-button {
  @include size(40%, 40px);
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  transition: all 0.25s;
  line-height: 40px;
  margin-top: 20px;
  font-size: 16px;
  word-spacing: 1px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.button-hover {
  &:hover {
    background-color: white;
    color: initial;
  }
}

.btn-blue {
  border: 1px solid #2350f5;

  &:hover {
    background-color: #2350f5;
    color: white;
  }
}

.btn-default-blue {
  border: 1px solid #2350f5;
  background-color: #2350f5;

  &:hover {
    background-color: transparent;
    color: #2350f5;
  }
}

.btn-grey {
  border: 1px solid #706262;

  &:hover {
    background-color: #706262;
    color: white;
  }
}

.btn-green {
  border: 1px solid green;

  &:hover {
    background-color: green;
    color: white;
  }
}

.btn-default-green {
  border: 1px solid green;
  background-color: green;
  color: white;

  &:hover {
    background-color: transparent;
    color: white;
  }
}

.btn-red {
  border: 1px solid red;
  color: white;

  &:hover {
    background-color: red;
    color: white;
  }
}
.btn-default-red {
  border: 1px solid red;
  background-color: red;
  color: white;

  &:hover {
    background-color: transparent;
    color: white;
  }
}
