@import "../../../../../assets/style/ui";

.header {
  @include size(100%, 50px);
  margin-bottom: 20px;
}

.permissions-block {
  @include size(100%, auto);
  max-height: calc(100% - 70px);
  transition: all 0.3s ease-in-out;

  .main-permission {
    @include size(100%, 70px);
    border: 1px solid gray;
    background-color: #1f222a;
    color: white;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    p {
      @include size(calc(100% - 70px), 100%);
      text-align: center;
      line-height: 70px;
    }

    .mat-icon {
      transition: all 0.3s ease-in-out;
    }

    &.active {
      .mat-icon {
        transform: rotate(180deg);
      }
    }

    .permission-checkbox {
      @include size(70px, 100%);
      border-left: 1px solid white;

      .mat-checkbox-layout {
        margin: 0 !important;
        margin-bottom: 0 !important;
        padding: 0 !important;
      }
    }
  }

  .additional-permission-container {
    @include size(100%, calc(100% - 70px));
    flex-wrap: wrap;
  }

  .additional-permission {
    @include size(50%, 70px);
    border: 1px solid gray;

    p {
      @include size(calc(100% - 70px), 100%);
      text-align: center;
      line-height: 70px;
    }

    .permission-checkbox {
      @include size(70px, 100%);
      border-left: 1px solid gray;

      .mat-checkbox-layout {
        margin: 0 !important;
        margin-bottom: 0 !important;
        padding: 0 !important;
      }
    }
  }
}

.permission-container {
  @include size(100%, calc(100% - 50px));
}

::ng-deep {
  .permission-checkbox {
    .mdc-checkbox
      .mdc-checkbox__native-control:enabled:not(:checked):not(
        :indeterminate
      ):not([data-indeterminate="true"])
      ~ .mdc-checkbox__background {
      border-color: white !important;
    }
    &.additional
      .mdc-checkbox
      .mdc-checkbox__native-control:enabled:not(:checked):not(
        :indeterminate
      ):not([data-indeterminate="true"])
      ~ .mdc-checkbox__background {
      border-color: black !important;
    }
  }

  .mat-mdc-form-field {
    display: block !important;
    font-size: 15px !important;

    .mat-mdc-text-field-wrapper {
      height: 80%;
      padding: 0 3px !important;
    }

    .mat-mdc-form-field-flex {
      height: 100%;
    }

    .mat-mdc-form-field-infix {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }

  // .mat-mdc-form-field-error {
  //   display: none !important;
  // }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }

  .mat-mdc-form-field-infix {
    min-height: auto !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    font-size: 12px !important;
  }

  // .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  //   transform: unset !important;
  // }
}
