<div
  class="perfomances-header d-flex align-items-center justify-content-between"
>
  <app-ui-search></app-ui-search>
  <div class="actions d-flex align-items-center justify-content-between">
    <button
      class="add d-flex align-items-center justify-content-center p-1 cursor-pointer position-relative ml-2 mr-2"
      (click)="onAddPerfomance()"
    >
      <mat-icon> add </mat-icon>
    </button>
    <!-- <button class="compare d-flex align-items-center justify-content-center p-1 cursor-pointer position-relative">
      <mat-icon> widgets </mat-icon>
      <div class="comparing-count position-absolute">2</div>
    </button> -->
    <!-- <app-ui-filter [filtersList]="filterList"></app-ui-filter>

        <app-ui-sort [sortsList]="sortsList"></app-ui-sort> -->
  </div>
</div>
<ng-container *ngIf="perfomances?.length; else noItems">
  <div class="perfomances-body d-flex align-items-start justify-content-start">
    <app-perfomance-card
      [perfomance]="item"
      [moreOptions]="perfomanceOption"
      (goToItem)="onGoToPerfomance($event)"
      (triggerAction)="onDelete(item)"
      *ngFor="let item of perfomances"
    ></app-perfomance-card>
  </div>
</ng-container>

<ng-template #noItems>
  <div
    class="noItem card-add white d-flex align-items-center colDir justify-content-center position-relative"
  >
    <mat-icon class="position-absolute">reply</mat-icon>
    <h3 class="mb-3">For now you have no item!!!</h3>
    <h3>Please click on PLUS button above</h3>
  </div>
</ng-template>
