<div class="sidebar-container d-flex col justify-content-between">
    <div class="project-info d-flex align-items-center">
        <img class="item-icon mr-5" src="../../assets/img/logo2.0.png" alt="">
        <h3>TalentTrace</h3>
    </div>

    <div class="back-col"></div>


    <div class="sidebar-content">
        <ng-container *ngFor="let item of sidebarItems">
            <ng-container *ngIf="!item?.isHidden">
                <a *ngIf="!item.disabled" class="sidebar-item d-flex align-items-center"
                    [routerLink]="['/' + item.link]" routerLinkActive="active" (click)="isExpanded = false;">
                    <!-- <div class="item-icon" [ngClass]="item.icon"></div> -->
                    <img class="item-icon mr-5" src="../../assets/img/dev-company-logo.jpeg" alt="">
                    <div class="item-description">{{item.name | translate}}</div>
                </a>

                <a *ngIf="item.disabled" class="sidebar-item d-flex align-items-center" [class.disabled]="item.disabled"
                    (click)="isExpanded = false">
                    <!-- <div class="item-icon" [ngClass]="item.icon"></div> -->
                    <img class="item-icon mr-5" src="../../assets/img/dev-company-logo.jpeg" alt="">
                    <div class="item-description">{{item.name | translate}}</div>

                    <div class="custom-tooltip">
                        <div class="icon icon-star"></div>
                        <div class="text">
                            {{'Arriving soon' | translate}}
                        </div>
                    </div>
                </a>
            </ng-container>
        </ng-container>
    </div>

    <div class="project-info d-flex align-items-center pt-4">
        <img class="item-icon mr-5" src="../../assets/img/dev-company-logo.jpeg" alt="">
        <div class="profile-info">
            <h3>Binariks</h3>
            <p>Owner</p>
        </div>
    </div>

</div>