<app-ui-page [defaultBreadcrumb]="defaultBreadcrumb">
  <ng-container pageName>{{ title | translate }}</ng-container>
  <ng-container pageContent>
    <div class="w-100 h-100 position-relative">
      <mat-tab-group #stepper>
        <mat-tab label="Candidates">
          <app-candidates-list
            *ngIf="selectNotANull && select === 0"
            (updateCandidate)="vacancy_details.candidates = $event"
            [id]="id"
          ></app-candidates-list>
        </mat-tab>
        <mat-tab label="Job details">
          <app-vacancy-form
            [isCreation]="isCreation"
            [vacancy_details]="vacancy_details"
            (changeFormValue)="onChangeFormValue($event)"
            (editFormValue)="onEditForm($event)"
          ></app-vacancy-form>
        </mat-tab>
        <mat-tab label="Hiring team">
          <app-hiring-team
            *ngIf="select && select === 2"
            [hiringTeam]="vacancy_details?.managers ?? []"
            [managers]="managers"
            (changeHiringTeam)="vacancy_details.managers = $event"
          ></app-hiring-team>
        </mat-tab>
      </mat-tab-group>

      <div
        class="action position-absolute top--50 right-50 d-flex align-items-center justify-content-center"
      >
        <button
          class="default-stepper-button btn-default-green w-100 mt-0"
          (click)="onSave()"
          *ngIf="isCreation"
        >
          Save
        </button>
        <button
          class="default-stepper-button btn-default-red w-100 mt-0"
          (click)="onDelete()"
          *ngIf="!isCreation"
        >
          Delete
        </button>
      </div>
    </div>
  </ng-container>
</app-ui-page>
