<div class="page-content">
    <div class="header d-flex align-items-center ">
        <h3>Creation Form</h3>
    </div>


    <div class="creation-form d-flex justify-content-around">
        <ng-container *ngIf="creationType !== 'manually'; else manually">
            <mat-stepper class="creation-form-stepper" orientation="horizontal" [linear]="isLinear" #stepper>
                <mat-step class="d-flex align-items-center">
                    <ng-template matStepLabel>Instruction & Uploading</ng-template>
                    <div class="d-flex align-items-center justify-content-between">
                        <app-ui-instruction class="instruction">
                            <ng-container headerName>
                                Instruction
                            </ng-container>
                            <ng-container decriptionText>
                                <p class="mb-3">
                                    Welcome to the Manager Department Dashboard! Adding a new manager to your team
                                    is
                                    now
                                    easier
                                    than
                                    ever.
                                </p>
                                <p class="mb-3">You have two convenient options to choose from:</p>

                                <p class="mb-3">1. Add Manually:</p>

                                <p class="pl-3 mb-3">
                                    Adding a new manager manually allows you to enter their details directly into
                                    our
                                    system. Follow
                                    these simple steps:

                                    Click on the "Add Manager Manually" button.
                                    Fill in the required fields.
                                    Once you've entered the information, click the "Add" button.
                                    The new manager will be instantly added to your team and sended an approval
                                    letter
                                    to
                                    their
                                    email.
                                </p>

                                <p class="mb-3">2. Upload a File:</p>


                                <p class="pl-3 mb-3">
                                    Got a list of new managers ready in a file? No problem! Our system supports
                                    uploads.
                                    Here's how:

                                    Click on the "Upload File" button.
                                    Choose the file containing the manager details. Supported formats include Json
                                    and
                                    Excel.
                                    Read the description which field
                                    Click the "Confirm" button, and our system will add all the new managers to your
                                    team.
                                </p>
                            </ng-container>

                        </app-ui-instruction>
                        <div class="uploading-file d-flex colDir align-items-center justify-content-around">
                            <mat-icon>cloud_upload</mat-icon>

                            <div class="title">
                                <p>Please firstly read the Instruction!!!</p>
                                <p>Drag file to upload</p>
                                <p>or</p>
                            </div>
                            <input type="file">
                            <div class="upload-immitation d-flex align-items-center justify-content-center">
                                <button class=" upload-button">Browse the file</button>
                            </div>

                            <div class="uploading-conditions">
                                <p class="size"></p>
                                <p class="types"></p>
                            </div>
                        </div>
                    </div>
                    <div class="default-stepper-button-block">
                        <button class="default-stepper-button btn-blue" mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Parsed data</ng-template>
                    <div class="managers-table">
                        <app-ui-dashboard-table [columns]="columns" [rows]="parsedDataArray"></app-ui-dashboard-table>
                    </div>

                    <div class="default-stepper-button-block">
                        <button class="default-stepper-button" mat-button matStepperPrevious>Back</button>
                        <button class="default-stepper-button btn-grey" mat-button>Reset</button>
                        <button class="default-stepper-button btn-blue" mat-button>Save</button>
                    </div>
                </mat-step>
            </mat-stepper>


        </ng-container>
    </div>
</div>


<ng-template #manually>
    <form class="form align-items-center justify-content-center" [formGroup]="form">
        <div class="row w-100 align-items-center justify-content-center">
            <div class="col-4">
                <div class="default-formField w-100" appearance="fill">
                    <input class="default-input" matInput [formControlName]="'email'" required>
                    <label class="default-label">First name</label>
                    <div class="default-input-error-message" *ngIf="form.get('firstName').hasError('required')">
                        First name is <strong>required</strong>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="default-formField w-100" appearance="fill">
                    <input class="default-input" matInput [formControlName]="'email'" required>
                    <label class="default-label">Last name</label>
                    <div class="default-input-error-message" *ngIf="form.get('lastName').hasError('required')">
                        Last name is <strong>required</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row w-100 align-items-center justify-content-center">
            <div class="col-4">
                <div class="default-formField w-100" appearance="fill">
                    <input class="default-input" matInput [formControlName]="'email'" required>
                    <label class="default-label">Email</label>
                    <div class="default-input-error-message"
                        *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                        Please enter a valid email address
                    </div>
                    <div class="default-input-error-message" *ngIf="form.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="default-formField w-100" appearance="fill">
                    <input class="default-input" matInput [formControlName]="'position'" required>
                    <label class="default-label">Position</label>
                    <div class="default-input-error-message" *ngIf="form.get('email').hasError('required')">
                        Position is <strong>required</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 align-items-center justify-content-center mt-100 position-relative">
            <button class="default-stepper-button btn-blue">Permissions</button>
            <div class="default-input-error-message position-absolute bottom--20" *ngIf="form.get('permissions').hasError('required')">
                Permissions is <strong>required</strong>
            </div>
        </div>
    </form>
</ng-template>