<div
  class="card w-100"
  [@enterLeaveTrigger]="isOpenOption ? 'open' : 'closed'"
  (click)="onTriggerChangeSide()"
  (clickOutside)="onTriggerChangeSide(true)"
  fadeAniimation
  [animationProperty]="animationProperty"
  [isOpenOption]="isOpenOption"
>
  <div
    class="card-side-block w-100 colDir align-items-center"
    [ngClass]="{ 'rotate-side': isOpenOption }"
  >
    <div
      class="common-info d-flex align-items-start justify-content-between pb-2 position-relative"
    >
      <div
        class="person-bg-img"
        [style]="
          '--bg-image: url(../../../../../../../assets/img/vacation-header-background.jpeg)'
        "
      ></div>
      <img
        class="person-img position-absolute"
        src="../../../../../../../assets/img/dev-company-logo.jpeg"
        alt=""
      />
    </div>
    <div class="mt-5">
      <h3 class="w-100">{{ person?.name }}</h3>
    </div>
    <div class="mt-5 p-3">
      <p class="w-100 text-align-center">{{ person?.fullPosition }}</p>
    </div>
  </div>
  <div
    class="card-side-block w-100 colDir justify-content-center align-items-center"
    [ngClass]="{ 'rotate-side': !isOpenOption }"
  >
    <ng-container *ngIf="!isChangingMember; else changingMember">
      <div
        class="action d-flex align-items-center justify-content-center w-100 p-4 font-size-20"
        (click)="onTriggerEvent('CHANGE')"
      >
        <mat-icon> autorenew </mat-icon>
        <div class="ml-3">Change to another</div>
      </div>

      <div
        class="action d-flex align-items-center justify-content-center w-100 p-4 font-size-20"
        (click)="onTriggerEvent('DELETE')"
      >
        <mat-icon> person_remove </mat-icon>
        <div class="ml-3">Remove from team</div>
      </div>
      <div
        class="action d-flex align-items-center justify-content-center w-100 p-4 font-size-20"
        (click)="onTriggerEvent('SEND_MESSAGE')"
      >
        <mat-icon> send </mat-icon>
        <div class="ml-3">Write to Jonh</div>
      </div>
    </ng-container>

    <ng-template #changingMember>
      <div
        class="action d-flex align-items-center justify-content-center w-100 p-4 font-size-20"
        (click)="onTriggerEvent('ADD')"
      >
        <mat-icon> add </mat-icon>
        <div class="ml-3">Add to the team</div>
      </div>
    </ng-template>
  </div>
</div>
