<mat-accordion class="example-headers-align w-100" multi>
  <mat-expansion-panel class="w-100">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="w-100" [ngSwitch]="optionsType">
      <div class="d-flex align-items-start colDir" *ngSwitchCase="'checkbox'">
        <ng-container *ngFor="let option of options; let i = index">
          <mat-checkbox [color]="'primary'">
            {{ option.name }}
          </mat-checkbox>
        </ng-container>
      </div>

      <div *ngSwitchCase="'range'"></div>
      <div *ngSwitchCase="'radio'">
        <ng-content select="[accordion-content]"></ng-content>
      </div>
      <div class="w-100" *ngSwitchCase="'select'">
        <mat-form-field class="w-100">
          <mat-label>Favorite food</mat-label>
          <mat-select>
            <mat-option *ngFor="let option of options" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngSwitchDefault>
        {{ option.type }}
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
