@import "../../../../assets/style/ui";
.ui-breadcrumbs {
  @include size(100%, 100%);
  flex-wrap: wrap;
  padding: 10px;

  .item-breadcrumb {
    transition: 150ms;
    font-family: "atlas-aaa";
    font-size: 14px;
    font-weight: 500;
    color: ghostwhite;
    text-decoration: underline;
    position: relative;
    padding-left: 20px;

    &:hover {
      color: aqua;
      cursor: pointer;
    }

    &:last-child {
      color: blue;
      pointer-events: none;
      text-decoration: none;
    }

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: ">";
        color: ghostwhite;
        margin-left: 5px;
      }
    }
  }
}
