<mat-tab-group
  #stepper
  class="w-100 mt-15"
  [class]="feedbacks?.length ? 'h-100' : 'h-0'"
>
  <mat-tab
    class="position-relative"
    *ngFor="let feedback of feedbacks; let i = index"
  >
    <ng-template mat-tab-label>
      <div class="d-flex position-absolute top-8 right--100">
        <ng-container *ngIf="!isCreation">
          <button
            class="short-info-edit d-flex align-items-center cursor-pointer"
            (click)="candidate_form.enable()"
            *ngIf="candidate_form?.disabled"
          >
            <mat-icon>border_color</mat-icon>
          </button>
          <button
            *ngIf="candidate_form?.enabled"
            class="short-info-edit d-flex align-items-center cursor-pointer mr-2"
            (click)="onEditFeedback()"
          >
            <mat-icon class="save-style">done</mat-icon>
          </button>
          <button
            class="short-info-edit d-flex align-items-center cursor-pointer"
            (click)="resetFeedback(i)"
            *ngIf="candidate_form?.enabled"
          >
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
        <button
          class="short-info-edit d-flex align-items-center cursor-pointer"
          *ngIf="isCreation"
          (click)="removeFeedback(feedback)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      {{ feedback.name }}
    </ng-template>
    <div class="w-100 position-relative p-3" [ngSwitch]="feedback?.type">
      <ng-container *ngSwitchCase="'TECH'">
        <ng-container
          *ngTemplateOutlet="techFeedback; context: { $implicit: feedback }"
        ></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'ENGLISH'">
        <ng-container
          *ngTemplateOutlet="englishFeedback; context: { $implicit: feedback }"
        ></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'HR'">
        <ng-container
          *ngTemplateOutlet="GeneralFeedback; context: { $implicit: feedback }"
        ></ng-container>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>

<div
  class="position-absolute d-flex align-items-end justify-content-between top-82 right-20"
>
  <button
    class="default-stepper-button btn-default-green w-100 mt-0 pl-3 pr-3"
    (click)="onCreate()"
    *ngIf="isCreation"
  >
    Create
  </button>
  <div class="d-flex colDir align-items-center justify-content-between">
    <mat-form-field class="feedback-stage-select w-100 position-relative">
      <mat-select
        class="h-100"
        [formControl]="feedbackStageControl"
        placeholder="Choose feedback"
      >
        <mat-option *ngFor="let type of defaultFeedbackStage" [value]="type">
          {{ type?.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button
    class="add d-flex align-items-center justify-content-center cursor-pointer position-relative ml-2 mr-2"
    (click)="addFeedbackStage()"
  >
    <mat-icon> add </mat-icon>
  </button>
</div>

<ng-container *ngIf="!feedbacks?.length">
  <ng-container *ngTemplateOutlet="noItems"></ng-container>
</ng-container>

<ng-template #GeneralFeedback let-feedback>
  <app-general-feedback [feedback]="feedback"></app-general-feedback>
</ng-template>

<ng-template #englishFeedback let-feedback>
  <app-english-feedback
    [feedback]="feedback"
    (updateFeedback)="onUpdateFeedback($event)"
  ></app-english-feedback>
</ng-template>

<ng-template #techFeedback let-data>
  <app-tech-feedback [feedback]="data"></app-tech-feedback>
</ng-template>

<ng-template #evidenceFeedback> </ng-template>

<ng-template #noItems>
  <div
    class="noItem card-add white d-flex align-items-center colDir justify-content-center position-relative"
  >
    <mat-icon class="position-absolute">reply</mat-icon>
    <h3 class="mb-3">For now you have no Feedback!!!</h3>
    <h3>Please choose feedback and click on PLUS button above</h3>
  </div>
</ng-template>
