@import "../../../../assets/style/ui";

:host::ng-deep {
  .feedback-stage-select {
    .mdc-text-field {
      border-radius: 5px !important;

      .mat-mdc-form-field-infix {
        min-height: 35px;
        height: 35px;
        padding: 0 !important;

        .mat-mdc-select-trigger {
          height: 100%;

          .mat-mdc-select-value {
            @include flex-box(row, nowrap, center, center);
          }
        }
      }
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.add {
  outline: unset;
  border-radius: 5px;
  transition: all 0.6s linear;
  background-color: white;
  border: 3px solid white;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.27);
  padding: 2.5px;
  mat-icon {
    color: #17a2b8;
  }

  &:focus {
    border: 3px solid gray;
  }

  &:hover {
    background-color: #17a2b8;
    mat-icon {
      color: white;
    }
  }
}

.short-info-edit {
  @include size(30px, 30px);
  color: #fdb75a;
  justify-content: space-evenly;
  background-color: transparent;
  border: 1px solid #fdb75a;
  border-radius: 10px;
  animation: 0.5s ease-in-out;
  transition: all ease-in-out 0.3s;
  mat-icon {
    font-size: 16px;
    @include size(16px, 16px);
  }
}
