<main class="component-background">
  <ng-container [ngSwitch]="resetPasswordState">
    <ng-container *ngSwitchCase="'resetEmail'">
      <section class="login-block">
        <h2>
          Resetting password
        </h2>
        <p class="login-block__text">Please write your email for resetting
          password
        </p>
        <form [formGroup]="formReset">
          <div class="default-formField">
            <input type="text" [formControlName]="'email'" class="default-input w-100" required>
            <label for="" class="default-label">Email address</label>
            <span class="default-input-error-message"
              *ngIf="formReset.get('email').hasError('email') && !formReset.get('email').hasError('required')">
              Please enter a valid email address
            </span>
            <span class="default-input-error-message" *ngIf="formReset.get('email').hasError('required')">
              Email is <strong>required</strong>
            </span>
          </div>
        </form>

        <button [class]="formReset.get('email').errors ? 'btn-grey' : 'btn-blue'"
          [disabled]="formReset.get('email').errors" class="default-button w-60" (click)="sendEmailForReset()">Sent an
          email</button>
        <button class="default-button btn-default-blue" (click)="goBack()">Back</button>
      </section>
    </ng-container>
    <ng-container *ngSwitchCase="'waitForEmail'">
      <section class="login-block-wait bc-white flex aic jcsb wrap col">
        <div class="login-block-wait__header bc-light-blue flex aic jcc nowrap">
        </div>
        <p class="login-block-wait__title flex aic jcc font-25 m-t-10 w-100">Resetting password</p>
        <div class="login-block-wait__title flex aic jcc font-25 m-t-10 w-100 m-b-100">Please wait for email</div>
      </section>
    </ng-container>
  </ng-container>
</main>
