<div class="signIn-form">
  <div class="email-block">
    <label for="">Email address</label>
    <input type="text" placeholder="Email">
  </div>
  <div class="password-block">
    <label for="">Password</label>
    <input type="text" placeholder="Password">
  </div>
  <button class="signIn-button"> ENTER </button>
  <span class="reset-pass"></span>
  <p class="cross-line-block">
    <span class="cross-line-title">Or</span>
  </p>
  <div class="another-login-block">
    <button class="another-login-button"><img src="../../../assets/svg/google.svg" alt=""> Google</button>
  </div>
</div>
