@import "../../../../assets/style/mixins";
@import "../../../../assets/style/variables";

.toggle-button {
  @include size(50px, 20px);
  border-radius: 20px;
  border: 1px solid $darkGreen;
  background-color: $headerColor;
  @include flex-box(row, nowrap, flex-start, center);
  // transition: all 0.1s linear;
  position: relative;

  .right-toggle {
    @include size(20px, 20px);
    border-radius: 50%;
    background-color: $darkGreen;
    border: unset;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -4%;
    left: 0px;
  }
}
