<div class="page-container">
    <header class="header d-flex align-items-center">
        <h3>
            <ng-content select="[pageName]"></ng-content>
        </h3>
        <div class="additional-info">
            <div class="candidates-for-approval">
            </div>
        </div>
    </header>
    <div class="page-content d-flex justify-content-between align-items-center">
        <app-ui-breadcrumbs [breadcrumbs]="breadcrumbs$ | async"></app-ui-breadcrumbs>
        <ng-content select="[pageContent]"></ng-content>

    </div>
</div>