@import "../../../../assets/style/ui";

.page-container {
  @include size(100%, 100%);
}

.header {
  @include size(100%, 70px);
  background-color: #fdb75a;
  padding: 0 20px;
  margin-bottom: 10px;

  .additional-info {
    button {
      background-color: #27373a;
      @include size(40%, 40%);
      color: white;
      border-radius: 10px;
      border: unset;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border: 2px solid #27373a;

      &:hover {
        background-color: transparent;
        // border: 2px solid #27373a;
      }
    }
  }
}

.breadcrumb-conteiner {
  @include size(100%, 30px);
  margin-top: 15px;
}
